<% content_for :title, "New diario" %>

<div class="flex flex-col w-full items-center bg-gray-100 rounded-xl px-4 pt-10">
    <h1 class="font-bold text-4xl text-gray-700">Novo Diario</h1>

    <div class="md:w-2/3">
        <%= render "form", diario: @diario%>
    </div>

</div>